.project {
    width: 100%;
    background-color:#000;
    /* height: 100vh; */
}
.project_top {
    display: flex;
    font-family: "Antic Slab";
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    padding: 40px 0;
    margin-bottom: 80px;
}

.project_left{ 
    width: 40%;
    /* height: 80vh; */
    
}
.project_left img {
    border-radius: 10px;
    width: 100%;
}
.project_section ul {
    padding: 50px 110px;
    display: flex;
    flex-flow: column nowrap;
    gap: 240px;
}
.project_section ul li  {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-items: center;    
    justify-content: space-around;
}
.project_right img {
    width: 300px;
}
.project_right h4 {
    font-size: 1.6rem;
    padding: 10px 0 ;
    color: #fff;
    font-family: "Paperlogy-6SemiBold";
}
.project_right {
    display: flex;
    flex-flow:  column;
    gap: 50px;
}
.project_right p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.6;
}
.project_right span{
    color: #fff;
    line-height: 1.6;
    font-size: 1.6rem;
    letter-spacing: -1px;
}
.project_right a{
    color: #fff;
    font-family: "Antic Slab";
    font-size: 1.4rem;
    transition: .5s;
    padding: 10px;
    /* width: max-content; */
}
.project_li .project_left {
    width: 35%;
}
.project_right a:hover{
    color: #dc4900;
}
.text_3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.text_3 span {
    color: #fff;
}

.project_left:hover .text_3{
    opacity: 1;
}

.change_link2{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}
.change_link2:hover{
    background-color: #fff;
}